<a href="https://colab.research.google.com/github/BinaryBrainsUPIICSA/Apuntes_Python/blob/main/Fundamentos_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## HOLA MUNDO

In [ ]:
print("Hola mundo")

Hola mundo

In [ ]:
print('Hola mundo')

Hola mundo

## Comentarios

In [ ]:
# primer comentario

In [ ]:
'''
print("hola mundo")
'''

"""
print('hola mundo')
"""

## VARIABLES

In [ ]:
my_name = input("Cuál es tu nombre?")
print("Mi nombre es:", my_name)

Cuál es tu nombre?edu
Mi nombre es: edu

In [ ]:
print(type(my_name))

<class 'str'>

In [ ]:
age = int(input('Cuál es tu edad?'))
print(type(age))
print("Mi edad es "+ str(age))
print(f"Mi edad es {age}")
print("Mi edad es", age)

Cuál es tu edad?22
<class 'int'>
Mi edad es 22
Mi edad es 22
Mi edad es 22

## Operaciones aritméticas

In [ ]:
print(10 + 10)
print(10 -5)
print(5 * 5)
print(2 ** 5)
# cosciente
print(10 // 3)
print(10 / 3)
print(10 % 3)

20
5
25
32
3
3.3333333333333335
1

## Tipos de Datos ✅:



1.   Int
2.   String
3.   Boolean
4.   Float

## LISTAS

In [ ]:
# areas en metros
kit = 11.25
liv =  20.0
bed = 10.75
bath = 9.50

# list
areas = [kit, liv, bed, bath]

print(areas)

[11.25, 20.0, 10.75, 9.5]

In [ ]:
areas = ["kitchen", kit, "living room", liv , "bedroom" , bed , "bathroom" ,bath]
print(areas)

# consulta de index dentro del arreglo
print(areas[4])
print(areas[-6])

['kitchen', 11.25, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
bedroom
living room

LIST OF LIST

In [ ]:
house = [["kitchen", kit,],
         ["living room", liv,],
         ["bedroom" ,bed,],
         ["bathroom" ,bath]]

In [ ]:
house[2][1]

10.75

In [ ]:
areas1 = ["kitchen", kit,"living room", liv,"bedroom" ,bed,"bathroom" ,bath]
print(areas1[2:5])

['living room', 20.0, 'bedroom']

In [ ]:
areas1 = ["kitchen", kit,"living room", liv,"bedroom" ,bed,"bathroom" ,bath]
print(areas1[2:])
print(areas1[:-5])

['living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
['kitchen', 11.25, 'living room']

In [ ]:
areas = ["kitchen", kit,"living room", liv,"bedroom" ,bed,"bathroom" ,bath]
# liv y bath
sum = areas[3] * areas[-1]

print(sum)
print(type(sum))

190.0
<class 'float'>

## Manipulación de listas

In [ ]:
# reemplazar dato :)
fam = ["Edu", 1.75, "Tali", 1.90, "Ilse", 1.60]
print(fam)
# se hace el cambio del elemento en cuestión
fam[3] = 1.49
# se imprime el dato para observar el cambio
print(fam[3])
# se imprime la lista para observar el cambio
print(fam)

# ------------------------------------------------------

# agregar elementos
fam = fam + ["Bryan", 1.80]
print(fam)

# agregar elementos
# puedes agregar más de un elemento
fam.extend(["Carlos",1.72,"York",1.78])
print(fam)

# agregar elementos con append
# solo se puede agregar un solo elemento :(
fam.append("Mike")
print(fam)

['Edu', 1.75, 'Tali', 1.9, 'Ilse', 1.6]
1.49
['Edu', 1.75, 'Tali', 1.49, 'Ilse', 1.6]
['Edu', 1.75, 'Tali', 1.49, 'Ilse', 1.6, 'Bryan', 1.8]
['Edu', 1.75, 'Tali', 1.49, 'Ilse', 1.6, 'Bryan', 1.8, 'Carlos', 1.72, 'York', 1.78]
['Edu', 1.75, 'Tali', 1.49, 'Ilse', 1.6, 'Bryan', 1.8, 'Carlos', 1.72, 'York', 1.78, 'Mike']