<a href="https://colab.research.google.com/github/BinaryBrainsUPIICSA/Apuntes_Python/blob/main/Fundamentos_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## HOLA MUNDO

In [ ]:
print("Hola mundo")

Hola mundo

In [ ]:
print('Hola mundo')

Hola mundo

## Comentarios

In [ ]:
# primer comentario

In [ ]:
'''
print("hola mundo")
'''

"""
print('hola mundo')
"""

## VARIABLES

In [ ]:
my_name = input("Cuál es tu nombre?")
print("Mi nombre es:", my_name)

Cuál es tu nombre?edu
Mi nombre es: edu

In [ ]:
print(type(my_name))

<class 'str'>

In [ ]:
age = int(input('Cuál es tu edad?'))
print(type(age))
print("Mi edad es "+ str(age))
print(f"Mi edad es {age}")
print("Mi edad es", age)

Cuál es tu edad?22
<class 'int'>
Mi edad es 22
Mi edad es 22
Mi edad es 22

## Operaciones aritméticas

In [ ]:
print(10 + 10)
print(10 -5)
print(5 * 5)
print(2 ** 5)
# cosciente
print(10 // 3)
print(10 / 3)
print(10 % 3)

20
5
25
32
3
3.3333333333333335
1

## Tipos de Datos ✅:



1.   Int
2.   String
3.   Boolean
4.   Float

## LISTAS

In [ ]:
# areas en metros
kit = 11.25
liv =  20.0
bed = 10.75
bath = 9.50

# list
areas = [kit, liv, bed, bath]

print(areas)

[11.25, 20.0, 10.75, 9.5]

In [ ]:
areas = ["kitchen", kit, "living room", liv , "bedroom" , bed , "bathroom" ,bath]
print(areas)

# consulta de index dentro del arreglo
print(areas[4])
print(areas[-6])

['kitchen', 11.25, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
bedroom
living room

LIST OF LIST

In [ ]:
house = [["kitchen", kit,],
         ["living room", liv,],
         ["bedroom" ,bed,],
         ["bathroom" ,bath]]

In [ ]:
house[2][1]

10.75

In [ ]:
areas1 = ["kitchen", kit,"living room", liv,"bedroom" ,bed,"bathroom" ,bath]
print(areas1[2:5])

['living room', 20.0, 'bedroom']

In [ ]:
areas1 = ["kitchen", kit,"living room", liv,"bedroom" ,bed,"bathroom" ,bath]
print(areas1[2:])
print(areas1[:-5])

['living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
['kitchen', 11.25, 'living room']

In [ ]:
areas = ["kitchen", kit,"living room", liv,"bedroom" ,bed,"bathroom" ,bath]
# liv y bath
sum = areas[3] * areas[-1]

print(sum)
print(type(sum))

190.0
<class 'float'>

## Manipulación de listas

In [ ]:
# reemplazar dato :)
fam = ["Edu", 1.75, "Tali", 1.90, "Ilse", 1.60]
print(fam)
# se hace el cambio del elemento en cuestión
fam[3] = 1.49
# se imprime el dato para observar el cambio
print(fam[3])
# se imprime la lista para observar el cambio
print(fam)

# ------------------------------------------------------

# agregar elementos
fam = fam + ["Bryan", 1.80]
print(fam)

# agregar elementos
# puedes agregar más de un elemento
fam.extend(["Carlos",1.72,"York",1.78])
print(fam)

# agregar elementos con append
# solo se puede agregar un solo elemento :(
fam.append("Mike")
print(fam)

# remover elementos
del(fam[8:-2])
print(fam)

['Edu', 1.75, 'Tali', 1.9, 'Ilse', 1.6]
1.49
['Edu', 1.75, 'Tali', 1.49, 'Ilse', 1.6]
['Edu', 1.75, 'Tali', 1.49, 'Ilse', 1.6, 'Bryan', 1.8]
['Edu', 1.75, 'Tali', 1.49, 'Ilse', 1.6, 'Bryan', 1.8, 'Carlos', 1.72, 'York', 1.78]
['Edu', 1.75, 'Tali', 1.49, 'Ilse', 1.6, 'Bryan', 1.8, 'Carlos', 1.72, 'York', 1.78, 'Mike']
['Edu', 1.75, 'Tali', 1.49, 'Ilse', 1.6, 'Bryan', 1.8, 1.78, 'Mike']

In [ ]:
# ejercicio
areas2 = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0, "bedroom", 10.75, "bathroom", 10.50, "poolhouse", 24.5, "garage", 15.45]

In [ ]:
print(areas2)
del(areas2[2:-10])
print(areas2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]
['hallway', 11.25, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

## FUNCIONES

Pieza de código que es reutilizable y nos sirve para resolver una tarea específico.

In [ ]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
# redondeo

n = 3.1416
round(n,2)

3.14

In [ ]:
# función len
# ver el tamaño del elemento
familia = [1.75, 1.40, 1.80, 1.70]
print(len(familia))

4

In [ ]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [ ]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [ ]:
pow(5,2)

25

In [ ]:
familia1 = [1.75, 1.40, 1.80, 1.89402]
rx = round(familia1[-1],2)
print("El redondeo de la útlima estatura es", rx)
print(f"El redondeo de la útlima estatura es {rx}")

El redondeo de la útlima estatura es 1.89
El redondeo de la útlima estatura es 1.89

In [ ]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
# sorted()
# devuelve ordenada la lista de manera ascendente o descendente
familia1 = [1.75, 1.40, 1.80, 1.89402]

orden = sorted(familia1, reverse= True) # ascendente
orden2 = sorted(familia1, reverse= False) # descendente

print(orden)
print(orden2)

[1.89402, 1.8, 1.75, 1.4]
[1.4, 1.75, 1.8, 1.89402]

### Ejercicio

In [ ]:
# crear  listas una que se llame "first" otra que se llame "second" de 5 elementos cada lista



# unir estar dos listas en una variable que se llame "full"


# sacar el tamaño de la lista



# ordenar de manera ascendente